* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  display: flex;
  margin-left: 280px;
}
.nav-links li {
  padding: 15px;
  color: #636465;
  font-size: 18px;
  list-style: none;
}
.nav-links li:hover {
  color: black;
  text-decoration: underline;
}
.logo {
  font-size: 18px;
  color: #0095a4;
}
.bra {
  color: #101c26;
}
.button-box {
  display: flex;
}
.button-box p {
  margin: 0 10px 0 0;
  padding: 10px;
  color: #636465;
  font-size: 18px;
}
.contact-btn {
  width: 106px;
  height: 39px;
  border-radius: 50px;
  background: #0095a4;
  font-size: 16px;
  color: #fff;
  border: none;
  font-weight: 600;
}
.contact-btn:hover {
  background-color: #fff;
  color: #0095a4;
  border: 1px solid #0095a4;
}
